<%= form_for @task, remote: true do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_area :content, id: "edit_task_content_#{@task.id}", class: "ed_task_inp" %>
  <div class="ed_task_buttons">save</div>
  <div class="ed_task_buttons">cancel</div>
  <%= image_tag "x.png", class: "x", size: "16x16", border: 0 %>
  <%= f.text_field :date, class: "dp", placeholder: "Select a date...", value: "#{@task.date.try(:strftime, "%d %b")}" %>
<% end %>