if ($('#task_list_<%= @task.project_id %> table').length){
	createNode();
} else {
	$('#task_list_<%= @task.project_id %> p').fadeOut(200, function(){
		$('#task_list_<%= @task.project_id %>').append('<table cellpadding="1" class="table-hover"><tbody></tbody></table>');
		$(this).closest('.draggable').find('.task_input').focus();
		$(this).detach();
		createNode();
	});
}

function createNode(){
	var path =  '#task_list_<%= @task.project_id %> table tbody';
	$(path).sortable({
		axis: "y",
		revert: 200,
		opacity: 0.5,
		handle: '.reorder',
		containment: 'parent',
		start: function(event, ui) {
			$('table').css('table-layout', 'auto');
		},
		update: function(event, ui) { 
			ui.item.find('td:nth-child(3)').find('*').hide();
			$('table').css('table-layout', 'fixed');
			var pid = "&prj_id="+$(this).closest('.draggable').attr('id').match(/\d+$/);
			var dt = $(this).sortable('serialize')+pid;
			$.ajax({
				type: 'post',
				data: dt,
				dataType: 'script',
				url: '/projects/sort'
			});
		}
	}).append('<%= j render(@task) %>');
	$(path+" tr:last-child").hide().fadeIn(300);
	$('#edit_task_<%= @task.id %>').submitOnCheck();
	task_content = $('p#task_content_<%= @task.id %>').html()
	link = task_content.match(/https?:\/\/\w+\.\S*/)
	if(link){
		task_content_with_link = task_content.replace(link, '<a href="'+link+'">'+link+"</a>")
		$('p#task_content_<%= @task.id %>').html(task_content_with_link)
	}
	$('#task_content_<%= @task.project_id %>').val('').focus();
	if ($(path).closest('.task_list').css('display') === 'none')
		$(path).closest('.draggable').find('.unfold').click();
}