var etc = '#edit_task_content_<%= @task.id %>'
$(etc).closest('tr').find('#task_complete').prop('disabled', false);
$(etc).parent().remove();
$('#task_content_<%= @task.id %>').show().html('<%= @task.content %>');
task_content = $('p#task_content_<%= @task.id %>').html()
link = task_content.match(/https?:\/\/\w+\.\S*/)
if(link){
	task_content_with_link = task_content.replace(link, '<a href="'+link+'">'+link+"</a>")
	$('p#task_content_<%= @task.id %>').html(task_content_with_link)
}
var tmp = $('#task_content_<%= @task.id %>').closest('td').find('.date');
if (tmp.html('<%= @task.date %>').html() === ''){
	tmp.css('display', 'none');
} else {
	tmp.css('display', 'inline').html('<%= @task.date.try(:strftime, "%d %b") %>');
}