<div class="prj">
	<p>
		<h4 class="new_class"><%= project.name %></h4> 
		<%= link_to " remove ", project,  method: :delete, class: "new_class" %>
	</p>
	<div class="controls input-append">
		<%= form_for project.tasks.new, remote: true do |f| %>
		<input type="hidden" name="prj_id" value="<%= project.id %>" />
		<%= image_tag "plus.png", :size => "26x26", :border => 0 %>
		<%= f.text_field :content, style: "width: 280px" %>
		<%= f.submit "Add task", class: "btn btn-success" %>
		<% end %>
	</div>
	<div id="task_list_<%= project.id %>">
		<% if Project.find(project.id).tasks.empty? %>
		<p id="no_recs_<%= project.id %>">no records</p>
		<% else %>
		<%= render project.tasks %>
		<% end %>
	</div>
	<div id="draggable" class="span9">
	<div id="prj_actions">
		<p id="name" style="display: inline-block"><%= project.name %></p>
		<img id="ed_prj" src="edit.png" width="12px" height="12px">
		<img id="del_prj" src="del.png" width="18px" height="18px">
	</div>
	<div id="input-set" class="controls input-append">
		<img src="plus.png" alt="" width="28px" height="28px">
		<input type="text" id="task_input" placeholder="Start typing here to create task...">
		<button id="addbutt" class="btn btn-success" type="button">Add task</button>
	</div>
	<div class="tasks" align="center">
		<table border="1" cellpadding="1"><tbody></tbody></table>
	</div>
</div>
</div>
