<% if signed_in? %>
	<h1>SIMPLE TODO LISTS</h1>
	<div id="projects">
		<div class="prj1">
			<h4><%= @project.name %></h4> 
			<div class="controls input-append">
				<%= link_to image_tag("plus.png") %>
				<input type="text" placeholder="Start typing here to create task...">
				<button type="button" class="btn btn-success">Add task</button>
			</div>
			<%= render @tasks %>
		</div>
	</div>
	<%= link_to "New Project", new_project_path, id: "new_link", remote: true %>
<% else %>
	<div class="center hero-unit">
		<h1>Welcome to the Todo Lists</h1>
		<%= link_to "Sign up now!", signup_path, 
		class: "btn btn-large btn-primary" %>
	</div>
<% end %>

